manifest {
  description = 'Proof of concept of a RNA-seq pipeline implemented with Nextflow' 
  author = 'Paolo Di Tommaso'
}

/*  
 * default container 
 */
process.container = 'azuregenomics.azurecr.io/nextflow/rnaseq-nf:latest' 

/* 
 * defines execution profiles for different environments  
 */ 

profiles {

  conda {
    process.conda = "$baseDir/conda.yml"
  }  
  
  aks {
     process.executor = 'k8s'
     process.scratch = true
     k8s {
        debug.yaml = true
        imagePullSecrets = regcred
        }
  }
}

