manifest {
  description = 'Proof of concept of a RNA-seq pipeline implemented with Nextflow' 
  author = 'Amr Ragab'
}

/*  
 * default container 
 */
process.container = 'ubuntu:latest' 

/* 
 * defines execution profiles for different environments  
 */ 

profiles {

  conda {
    process.conda = "$baseDir/conda.yml"
  }  
  
  aks {
     process.executor = 'k8s'
     process.scratch = true
     process.pod = [imagePullSecret: 'regcred']
     k8s {
        debug.yaml = true
        }
  }
}

